<div class="container">
  <% @dogs.each do |dog| %>
    <div class="dog-card bg-white my-3 d-flex">
      <img src="/assets/dog.JPG" class="img-fluid rounded-start" alt="picture of brown labrador retriever">
      <div class="dog-card-body p-3">
        <h5 class="card-title"><%= dog.name%></h5>
        <p class="card-text"><%= dog.breed %>, <%= dog.age %> years old</p>
        <p class="card-text"><%= dog.description %></p>
        <%= link_to 'Find out more!', dog, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
