<div class="container mt-5">
  <div class="row mb-4">
    <div class="col text-center">
      <h1 class="display-4 fw-bold">Find your next Walking Buddy!</h1>
      <p class="lead text-muted">Connect with a companion who complements your lifestyle and fits your preferences.</p>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col">
    <% @dogs.each do |dog| %>
      <div class="dog-card bg-white my-3 d-flex">
        <%= cl_image_tag dog.photo.key, height: 250, width: 250, crop: :fill  %>
        <div class="dog-card-body px-3 my-auto">
          <h4 class="card-title mb-2"><%= dog.name%></h4>
          <p class="card-text text-muted"><%= dog.breed %>, <%= dog.age %> years old</p>
          <p class="card-text"><%= truncate dog.description, length: 85 %></p>
          <%= link_to 'Find out more!', dog, class: 'btn' %>
        </div>
      </div>
    <% end %>
    </div>
    <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class="col sticky-top my-3 d-flex">
    </div>
  </div>
</div>
