<div class="container mt-5">
  <div class="row mb-4">
    <h1 class="display-4 fw-bold">Your upcoming walks</h1>
    <p class="lead text-muted">You have <%= @bookings.count %> upcoming walks!</p>
    <% @bookings.each do |booking| %>
      <div class="dog-card bg-white my-3 d-flex">
        <%= cl_image_tag booking.dog.photo.key, height: 200, width: 200, crop: :fill  %>
        <div class="dog-card-body px-3 my-auto">
          <h3 class="card-title mb-2"><%= booking.date.strftime("%A, %b %d") %> at <%= booking.time.strftime("%H:%M %p") %></h2>
          <p class="card-text">Going on a walk with: <%= booking.dog.name%></p>
          <p class="card-text text-muted"><%= booking.dog.breed %></p>
          <br>
          <%= link_to 'Need the details?', booking.dog, class: 'btn' %>
      </div></div>
     </div>
  <% end %>
</div>
