<div class="d-flex justify-content-center align-items-center">
  <div class="row w-100">
    <div class="text-center mx-auto my-5" style="max-width: 800px;">
    <%= cl_image_tag current_user.photo.key, class: "avatar-large", alt: "dropdown menu" %>
      <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
      <p><%= current_user.email %></p>
    </div></div>
</div>

<div class="d-flex justify-content-center align-items-center">
  <div class="row w-100">
    <h2 class="mb-2 mx-auto" style="max-width: 800px;">User details</h2>
    <div class="dog-info profile-container mx-auto mb-5">
      <div class="info">
          <div>
            <h3>First Name</h3>
            <p><%= current_user.first_name %></p>
          </div>
          <div>
            <h3>Last Name</h3>
            <p><%= current_user.last_name %></p>
          </div>
          <div>
            <h3>Email</h3>
            <p><%= current_user.email %></p>
          </div>
      </div>
    </div></div>
  </div>


<% if @dogs.present? %>
  <div class="row">
    <div class="col">
      <h2 class="mb-2 mx-auto" style="max-width: 800px;">Dog details</h2>
        <% @dogs.each do |dog| %>
          <div class="dog-card bg-white my-3 d-flex mx-auto" style="max-width: 800px;">
            <%= cl_image_tag dog.photo.key, height: 200, width: 200, crop: :fill  %>
            <div class="dog-card-body px-3 my-auto">
              <h4 class="card-title mb-2"><%= dog.name%></h4>
              <p class="card-text text-muted"><%= dog.breed %>, <%= dog.age %> years old</p>
              <p class="card-text"><%= truncate dog.description, length: 85 %></p>
              <%= link_to " Delete this Dog", dog, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'delete_btn' %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
<% end %>
