<div class="d-flex justify-content-center align-items-center">
  <div class="row w-100">
    <div class="profile-container mx-auto" style="max-width: 800px;">
      <img src="https://via.placeholder.com/100" alt="Profile Picture">
      <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
      <p><%= current_user.email %></p>

      <div class="info">
        <div>
          <span>First Name:</span>
          <p><%= current_user.first_name %></p>
        </div>
        <div>
          <span>Last Name:</span>
          <p><%= current_user.last_name %></p>
        </div>
        <div>
          <span>Email:</span>
          <p><%= current_user.email %></p>
        </div>
        <div>
          <span>Address:</span>
          <p>""</p>
        </div>
      </div>
    </div>
  </div>
</div>
