<!DOCTYPE html>
<html>
  <head>
    <title>DogNWalk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/flashes" %>
    <footer class="text-center py-3 border-top mt-auto">
      &copy; <%= Time.now.year %> DogNWalk. All rights reserved.
    </footer>
  </body>
</html>
